<div class="container">
    <div class="d-flex justify-content-center  fw-700 portfolio">
        <p>CONTACT ME</p>
    </div>
    <div class="d-flex align-items-center justify-content-center pb-4 pt-2">
        <div class="line-1"></div>
        <div><img src="./img/star1.png" width="40px" alt=""></div>
        <div class="line-1"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-style">Full name</label>
                <input type="text" class="form-control message" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-style">Email address</label>
                <input type="email" class="form-control message" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-style">Phone number</label>
                <input type="number" class="form-control message" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label text-style">Message</label>
                <textarea class="form-control message" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg send-btn mb-5">Send</button>
            </div>
        </div>
    </div>
</div>
<footer class="location text-white mt-5 pt-5 pb-4 ">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-4 mb-4">
            <div class="col-md-4 gx-0">
                <h2 class="fw-500 fs-3 mb-4">LOCATION</h2>
                <div>
                    <a href="#" class="text-white para-f" style="text-decoration:none;">2215 John Daniel Drive</a>
                </div>
                <div>
                    <a href="#" class="text-white para-f" style="text-decoration:none;">Clark, MO 65243</a>
                </div>
            </div>
            <div class="col-md-4 gx-0">
                <h2 class="fw-500 fs-4 mb-4">AROUND THE WEB</h2>
                <div>
                    <a href="#" class="text-white" style="text-decoration:none;">2215 John Daniel Drive</a>
                </div>
                <div>
                    <a href="#" class="text-white" style="text-decoration:none;">Clark, MO 65243</a>
                </div>
            </div>
            <div class="col-md-4 gx-0">
                <h2 class="fw-500 fs-4 mb-4">ABOUT FREELANCER</h2>
                <div>
                    <a href="#" class="text-white para-f" style="text-decoration:none;">Freelance is a free to use, MIT
                        licensed</a>
                </div>
                <div>
                    <a href="#" class="text-white para-f" style="text-decoration:none;">Bootstrap theme created by Start
                        Bootstrap .</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright text-white d-flex text-center py-4">
    <div class="container">
        <div>
            <p class="m-0">Copyright © Your Website 2021</p>
        </div>
    </div>
</div>
