<section>
    <div class="container products-card">
        <div class="row justify-content-center text-center">
            <div class="col-lg-5 col-md-12">
                <h2 class="procduct-tittle">Product Cards</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12 px-3">
                <div class="">
                    <img src="assets/Product Image/product-7.jpg" width="100%" alt="product-image">
                </div>
                <div class="py-4">
                    <p class="card-wrapper-para">Shoes</p>
                    <h6 class="card-wrapper-tittle">Leather Sneakers</h6>
                    <div class="card-wrapper-58">
                        <span class="number-85">$85.00</span>
                        <span class="number-85-1">$85.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 px-3 text-center">
                <img src="assets/Product Image/product-32.jpg" width="100%" alt="product-image">
                <div class="py-4">
                    <p class="cotton-tiitle">Cotton leaf print Shirt</p>
                    <div class="cotton-65">
                        <span>$65.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 px-3">
                <img src="assets/Product Image/product-12.jpg" width="100%" alt="product-image">
                <div class="py-4">
                    <div class="d-flex justify-content-between">
                        <h6>Heel strappy Sandals</h6>
                        <div class="cotton-65">
                            <span>$95.00</span>
                        </div>
                    </div>
                    <p class="card-wrapper-para">Shoes</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 px-3 text-center">
                <img src="assets/Product Image/product-11.jpg" width="100%" alt="product-image">
                <div class="py-4">
                    <h6>Printed A-line </h6>
                    <div class="cotton-65">
                        <span>$79.00</span>
                    </div>
                    <div class="d-flex justify-content-center card-wrapper-image">
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 px-3">
                <div class="">
                    <img src="assets/Product Image/product-7.jpg" width="100%" alt="product-image">
                </div>
                <div class="py-4">
                    <p class="card-wrapper-para">Shoes</p>
                    <h6 class="card-wrapper-tittle">Leather Sneakers</h6>
                    <div class="card-wrapper-58">
                        <span class="number-85">$85.00</span>
                        <span class="number-85-1">$85.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 px-3 text-center">
                <img src="assets/Product Image/product-32.jpg" width="100%" alt="product-image">
                <div class="py-4">
                    <p class="cotton-tiitle">Cotton leaf print Shirt</p>
                    <div class="cotton-65">
                        <span>$65.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 px-3">
                <img src="assets/Product Image/product-12.jpg" width="100%" alt="product-image">
                <div class="py-4">
                    <div class="d-flex justify-content-between">
                        <h6>Heel strappy Sandals</h6>
                        <div class="cotton-65">
                            <span>$95.00</span>
                        </div>
                    </div>
                    <p class="card-wrapper-para">Shoes</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 px-3 text-center">
                <img src="assets/Product Image/product-11.jpg" width="100%" alt="product-image">
                <div class="py-4">
                    <h6>Printed A-line </h6>
                    <div class="cotton-65">
                        <span>$79.00</span>
                    </div>
                    <div class="d-flex justify-content-center card-wrapper-image">
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                        <i class="fas fa-star star-card"></i>
                    </div>
                </div>
            </div>    
        </div>
    </div>    
</section>
