<section class="module-2">
    <div class="container module-2-box">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6 col-md-12">
                <p class="homepage m-0">Homepages</p>
                <p class="homepage-para">8 homepage variations including a sample landing page with anchor
                    navigation.</p>
            </div>
        </div>
        <div class="row pt-1 text-center mx-1">
            <div class="col-lg-4 col-md-12  px-3 pt-5 pb-2">
                <img src="assets/Home image/index-default.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Default</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  px-3 pt-5 pb-2">
                <img src="assets/Home image/index-classic.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Classic</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  px-3 pt-5 pb-2">
                <img src="assets/Home image/index-fashion.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Fashion</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  px-3 pt-5 pb-2">
                <img src="assets/Home image/index-boxed.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Boxes</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  px-3 pt-5 pb-2">
                <img src="assets/Home image/index-simple.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Simple</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  px-3 pt-5 pb-2">
                <img src="assets/Home image/index-asymmetric.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Asymmetric</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  px-3 pt-5 pb-2">
                <img src="assets/Home image/index-sidenav.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Sidenav</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  ps-3 pe-4 py-5">
                <img src="assets/Home image/index-landing.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">landing</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-12  ps-3 pe-4 py-5">
                <img src="assets/Home image/index-fashion.png" width="100%" alt="default">
                <div>
                    <h3 class="default-para">Fashion</h3>
                </div>
            </div>
        </div>
    </div>
</section>