<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">About</h1>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Nobis, repellendus est debitis officiis omnis
                        ipsum, corporis expedita adipisci modi ullam cumque sapiente, vitae consequatur laudantium
                        nesciunt nihil voluptatibus ducimus fugit minus quod labore harum consectetur cupiditate id!
                        Nostrum quisquam quis deleniti amet quasi consequuntur quaerat dolor architecto doloremque illo
                        eveniet fugiat ducimus iure magnam, itaque illum in. Reiciendis dignissimos ex provident itaque
                        dolorem dolore quia, nihil rem mollitia nostrum officiis voluptatum iusto nam fugit adipisci
                        iste ipsam, explicabo recusandae velit expedita qui asperiores libero! Id, tempora quae
                        repudiandae tempore libero dignissimos. Repudiandae, ratione blanditiis! Necessitatibus dolores
                        vel velit quisquam asperiores repellendus soluta hic ducimus quidem voluptatum perspiciatis
                        nobis earum magnam obcaecati iure possimus quaerat aut porro, nesciunt ipsam id iusto ut.
                        Accusamus aperiam magnam nemo id dolores animi fugit quod suscipit! Sint sunt provident impedit,
                        modi aliquam veritatis. Alias a ab recusandae perferendis nobis nisi cupiditate explicabo atque.
                        Ex eum minima voluptate dolorum illum dolor rem? Excepturi aut delectus autem sunt vitae
                        eligendi vero itaque, enim illum! Sunt, iure! Quisquam non, unde qui assumenda dignissimos</p>
                    <a href="#" class="btn btn-primary">About me</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="p-5">
                <img src="assets/pexels-caner-cankisi-3999943.jpg" width="100%" height="100%" alt="image">
            </div>
        </div>
    </div>
</div>